#profile{
  border: solid 3px #000000;
  padding: 1px;
  width: 75px;
  display: inline;
  @media screen and (max-width: 1024px) {
    border-color: red;
  }
  &menu{
    padding: 1px;

  }
  
}

#camera-pic{
  width:500px;
}